h1 {
  color: #000099;
  border-bottom: 1px solid #8FB2B2;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
p {
  font-family: sans-serif;
  color: #0000FF;
}

body {
  background-image:url('/img/iceberg.jpg');
  background-color: #99CCFF;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h3 {
  color: white;
  background-color: #3399FF;
  border-radius: 100px;
  padding: 2px;
  text-align: center;
}

a {
  color: red;
  text-decoration: none;
}

input {
  width: 100px;
 }

.create_survey {
  display: block;
  margin-left: 35%;
  width: 30%;
  margin-bottom: 5px;
  }

button {
  color: white;
  background-color: #3399FF;
  border-radius: 100px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
}

img {
  padding: 10px;
}

/*TODO make the container background color transparent WHILE KEEPING EVERYTHING ELSE OPAQUE. Stupid nav bar and polar bear image want to be transparent SOOOO badly. Setting everything other than the container to opacity: 1; didn't work.*/

.container {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  padding: 40px 5px 100% 5px;
  background-color: #FFFFF3;
  color: #0000CC;
  text-align: center;
}

.survey_list ul {
  list-style: none;
  color: red;
}


.survey_list li {
  padding: 5px 0 20px 0;
  border-bottom: 1px solid #CCE6FF;
}

.survey_list a {
  color: #FF9147;
}

.questions_list ul {
  margin-top: 5%;
  list-style: none;
  color: red;
}

.questions_list li {
  padding: 5px 0 20px 0;
  border-bottom: 1px solid #CCE6FF;
}

.questions_list a {
  color: #FF9147;

}

.survey_list a:hover {
  background-color: #FF944D;
  color: white;
}

#fixed_nav {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

#fixed_nav ul {
  list-style: none;
  float: right;
  margin-right: 42%;
}
#fixed_nav li {
  float: left;
  padding: 5px;
  background-color: #3399FF;
  border-radius: 100px;
  margin: 0 6px 0 6px;
}

#fixed_nav a {
  color: white;
}

#login_bar {
  position: fixed;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0 10px;
  float: left;
  width: 12%;
}

#logout_bar {
  position: fixed;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0 10px;
  float: left;
  width: 12%;
}

#result_graph {
  position:fixed;
  top:10%;
  left: 20%;
  width: 75%;
  height: 400px;
  margin: 0 auto;
  color: #FF944D;
}