body {
  background-image:url('/img/iceberg.jpg');
  background-color: #99CCFF;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #000099;
  border-bottom: 1px solid #8FB2B2;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}


h3 {
  color: white;
  background-color: #3399FF;
  border-radius: 100px;
  padding: 2px;
  text-align: center;
}

p {
  font-family: sans-serif;
  color: #0000FF;
}

a {
  color: red;
  text-decoration: none;
}

img {
  padding: 10px;
  border-radius: 30px;
}

input {         /*should only apply to the login/logout input fields*/
  width: 100%;
}

.create_survey {   /*applies to the input fields in the create survey form*/
  display: block;
  margin-left: 35%;
  width: 30%;
  margin-bottom: 5px;
  }

.list_answers {   /*applies to the input fields in the answer survey form*/
    width: 100px;
    text-align: center;
  }

.edit_list li {           /* survey/:id/edit page*/
  display: block;
  margin-left: 15%;
  padding: 5px;
  width: 60%;
  margin-bottom: 5px;
  color: #FF9147;
  list-style: none;
}

.edit_list a {            /* survey/:id/edit page*/
  color: red;
}

.edit_button {           /* survey/:id/edit page*/
  width: 20%;
}

button {
  color: white;
  background-color: #3399FF;
  border-radius: 100px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

/* TODO make the container background color transparent WHILE KEEPING EVERYTHING ELSE OPAQUE. Stupid nav bar and polar bear image want to be transparent SOOOO badly. Setting the container to opacity: 0.8 and everything other than the container to opacity: 1; didn't work. Neither did swapping out the hexadecimal background color for an rgba color. */

.container {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  padding: 40px 5px 100% 5px;
  background-color: #FFFFF3;
  color: #0000CC;
  text-align: center;
  /*opacity: 0.8;*/
  background-color:rgba(255,255,255,0.5);
}

.survey_list ul {           /* surveys page (homepage) */
  list-style: none;
  color: red;
}

.survey_list li {            /* surveys page (homepage) */
  padding: 5px 0 20px 0;
  border-bottom: 1px solid #CCE6FF;
}

.survey_list a {            /* surveys page (homepage) */
  color: darkblue;
}

.survey_list a:hover {       /* surveys page (homepage) */
  background-color: #FF944D;
  color: white;
}

.questions_list ul {     /* survery/:id page */
  margin-top: 5%;
  list-style: none;
  color: red;
}

.questions_list li {      /* survery/:id page */
  padding: 5px 0 20px 0;
  border-bottom: 1px solid #CCE6FF;
}

.questions_list p {       /* survery/:id page */
  color: #FF9147;
}

#fixed_nav {            /* top nav bar*/
  width: 1000px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  opacity: 1;
}

#fixed_nav ul {          /* top nav bar*/
  list-style: none;
  display: inline;
}

#fixed_nav li {          /*top nav bar*/
  float: left;
  padding: 5px;
  background-color: #3399FF;
  border-radius: 100px;
  margin: 10px 6px 10px 6px;
}

#fixed_nav li:hover {        /* top nav bar*/
  background-color: white;
  color: #3399FF;
  border: 1px dashed blue;
}

#fixed_nav a {        /* top nav bar*/
  color: white;
}


#login_bar {         /*side bar */
  position: fixed;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0 10px;
  float: left;
  width: 12%;
}

#logout_bar {            /*side bar */
  position: fixed;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0 10px;
  float: left;
  width: 12%;
}

#result_graph {              /* surveys/:id/results page */
  position:fixed;
  top:10%;
  left: 20%;
  width: 75%;
  height: 400px;
  margin: 0 auto;
  color: #FF944D;
  opacity: 0.8;
}

.footer {
  bottom: 0;
  width:100%;
  padding: 5px;
  text-align: center;
}

.footer a {
  color:blue;
  text-decoration: none;
}

.footer a:hover {
  color: #1975FF;
}