<div id="fixed_nav">
  <ul>
    <a href="/surveys"><li>Home</li></a>
    <a href="/surveys/new"><li>Create a survey</li></a>
    <a href=""><li>View your surveys</li></a>
    <a href=""><li>Edit a survey</li></a>
  </ul>
</div>