<div id="fixed_nav">
  <ul>
    <a href="/surveys/"><li>Home</li></a>
    <a href="/new_survey/"><li>Create a survey</li></a>
    <a href=""><li>View your surveys</li></a>
    <a href="/edit_survey/"><li>Edit a survey</li></a>
  </ul>
</div>