<div id="fixed_nav">
  <ul>
    <a href="/surveys"><li>Home</li></a>
    <a href="/surveys/new"><li>Create a survey</li></a>
    <% if logged_in? %>
	    <a href="/users/<%= current_user.id %>/surveys"><li>View your surveys</li></a>
    <% end %>
  </ul>
</div>