<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="/js/jquery-2.1.0.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Poller Bear</title>
</head>


<body>
  <header>
    <%= erb :_navbar %>

    <%= erb :_loginbar if !logged_in? %>

  </header>
  <%= yield %>
</body>
</html>
