<div class="container">
  <h1>Welcome! Let's create a new survey!</h1>
  <p>Please enter a title and questions that can be answered on a 1-5 scale.</p>
  <p>Example: "How much do you totally love da bears?"</p>

  <img src="/img/logo.jpg" alt="polar bear using a computer">

  <form action="/surveys" method="post" id="survey_data">
    <input class="create_survey" type="text" placeholder="title" name="title">
    <input class="create_survey" type="text" placeholder="question" name="question(num)"> <!-- Needs to be question1, and each following question needs a unique name.  -->
    <input class="list_answers" type="button" value="+ question">
    <input class="list_answers" type="submit" value="submit all">
  </form>

</div>
