<script type="text/javascript">
var results = <%= @results.to_json %>
var title = "<%= @survey_title %>"
</script>
<script src="/js/graph.js" type="text/javascript"></script>
<div id="result_graph">
    
</div>