<div class="container">
<!--   <img src="/poller-bear.png"> -->
  <h1>Team Poller Bears Presents: SURVEYS!</h1>
  <p>Sign-up for an account in order to create a new survey.</p>
  <p>No account is needed to take an existing survey. Just dive in!</p>

<!--   Linked list of surveys -->

  <div class="survey_list">
    <ul>
      <% @surveys.each do |survey| %>
      <li><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
      <% end %>
    </ul>
  </div>

</div>
