<div class="container">
<img src="/img/logo.jpg" alt="polar bear using a computer">

  <div class="questions_list">
    <ul>
      <% @questions.each do |question| %>
      <li>
        <a href="/surveys/"><%= question.content %></a>
        <br>
        <input type="radio" name="1">1.
        <input type="radio" name="2">2.
        <input type="radio" name="3">3.
        <input type="radio" name="4">4.
        <input type="radio" name="5">5. <br>
      </li>
      <% end %>
    </ul>
  </div>

</div>
