<div class="container">
<!--   <img src="/poller-bear.png"> -->
  <h1>Team Poller Bears Presents: SURVEYS!</h1>
  <p>Sign-up for an account in order to create a new survey.</p>
  <p>No account is needed to take an existing survey. Just dive in!</p>

<!--   Linked list of surveys -->

  <div class="survey_list">
    <ul>
      <a href="/surveys/:id/"><li>Survey Title 1</li></a>
      <a href="/surveys/:id/"><li>Survey Title 2</li></a>
      <a href="/surveys/:id/"><li>Survey Title 3</li></a>
      <a href="/surveys/:id/"><li>Survey Title 4</li></a>
      <a href="/surveys/:id/"><li>Survey Title 5</li></a>
    </ul>
  </div>

</div>
